<a class="mdc-list-item mdc-list-item--activated" href="@Url">
    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">@IconName</i>
    <span class="mdc-list-item__text">@Text</span>
</a>

@code {
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public string IconName { get; set; }
    [Parameter]
    public string Url { get; set; }
}
